<h2>Login to Wiki-redux</h2>
<%= form_tag sessions_path do %>
	<%= label_tag :email %>
	<%= text_field_tag :email, params[:email] %><br />
	<%= label_tag :password %>
	<%= text_field_tag :password, params[:password], :type => "password" %>
	<%= submit_tag "Login" %>
	<% end %>